

# todo merge with Mac at home

if [ -f _env_gaic.sh ] ; then
    source _env_gaic.sh
fi

# https://github.com/rails/webpacker/issues/2819
export RAILS_SERVE_STATIC_FILES=absolutely

# export BUCKET_DEV="gs://ricc-public-saga-gallery-dev"
# export BUCKET_PROD="gs://ricc-public-saga-gallery-prod"




if [ "$BUCKET_DEV" = "gs://ricc-public-saga-gallery-dev" ]; then
    echo "🚨 WARNING! Update your GAIC install! Its wrong!"
    echo "🚨 BUCKET_DEV=$BUCKET_DEV"
    echo "🚨  (should end with DEVELOPMENT not DEV)"
fi
