

# todo merge with Mac at home
echo "🌱 INFO: loading env from: https://github.com/palladius/ror7-gemini-saga-gallery"

if [ -f _env_gaic.sh ] ; then
    source _env_gaic.sh
fi

echo "🌱 INFO: DEV_DB_HOST: $DEV_DB_HOST"
# https://github.com/rails/webpacker/issues/2819
export RAILS_SERVE_STATIC_FILES=absolutely

# export BUCKET_DEV="gs://ricc-public-saga-gallery-dev"
# export BUCKET_PROD="gs://ricc-public-saga-gallery-prod"




if [ "$BUCKET_DEV" = "gs://ricc-public-saga-gallery-dev" ]; then
    echo "🚨 WARNING! Update your GAIC install! Its wrong!"
    echo "🚨 BUCKET_DEV=$BUCKET_DEV"
    echo "🚨  (should end with DEVELOPMENT not DEV)"
fi
