<% # Determine the object type (gallery or medium) %>
<% object_type = object.class.name.downcase
   plural_object = object_type.pluralize

  def can?(action, obnject)
    true
  end

%>
<div class="mt-4 flex justify-between">
  <% if can? :update, object %>
    <%= link_to "Edit #{object_type}", [:edit, object],
                class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
    <%= link_to "âª to #{object.class.emoji} #{plural_object}", send("#{plural_object}_path"),
                class: "bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded" %>

  <% if can? :destroy, object %> <%# Check if the user can destroy the object %>
    <%= button_to "ðŸ’£ Destroy this #{object_type}", object, method: :delete,
                  class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded",
                  data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
