<footer class="bg-gray-800 text-white py-4 px-6 mt-8"> <%# Footer styling %>
  <hr class="border-gray-700">
  <div class="flex justify-between mt-4"> <%# Arrange content horizontally %>
    <p>
      Stimulus 1.0.0 was released <time data-controller="timeago" data-timeago-datetime-value="2018-01-30T09:00"></time>.
    </p>
    <p>
      <%= APP_NAME %> v<%= APP_VERSION %> was released <time data-controller="timeago" data-timeago-datetime-value="2024-08-25T11:00"></time>.
    </p>
  </div>
</footer>
