<div data-controller="carousel"
     data-carousel-index-value="0"
     data-carousel-wrap-value="true"
     class="relative w-full overflow-hidden">

  <div class="flex -mx-4" data-carousel-target="container">
    <% gallery.media.each do |medium| %>
      <div class="px-4 w-1/3" data-carousel-target="item">
        <%= image_tag medium.thumbnail,
                      data: {
                        controller: 'lightbox',
                        lightbox_src: url_for(medium.medium_file)
                      },
                      class: 'w-full object-cover h-64' %>
      </div>
    <% end %>
  </div>

  <button data-action="carousel#prev"
          class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 bg-gray-800 text-white rounded-r">
    Prev
  </button>
  <button data-action="carousel#next"
          class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 bg-gray-800 text-white rounded-l">
    Next
  </button>
</div>

<% if false %>
<!--
<div data-controller="carousel" class="swiper-container" data-carousel-options-value='{"direction": "vertical"}'>
<div class="swiper-wrapper">
  <div class="swiper-slide">Slide 1</div>
  <div class="swiper-slide">Slide 2</div>
  <div class="swiper-slide">Slide 3</div>
</div>
</div>

-->
<% end %>
